/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif, monospace;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px; 
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
    z-index: 1000;
    border-radius: 15px; 
}

nav ul {
    list-style: none;
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

nav ul li {
    width: 100%;
    opacity: 0;
    animation: slideIn 0.3s forwards;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

nav ul li a {
    width: 100%;
    padding: 10px 20px;
    display: block;
    color: #ecdede;
    text-decoration: none;
    transition: background 0.3s ease, padding-left 0.3s ease;
    border-radius: 10px; 
}

nav ul li a:hover {
    background: #889196;
    padding-left: 30px;
}

main {
    margin-left: 200px; /* Initial margin-left matching nav width */
    transition: margin-left 0.3s ease-in-out;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-image: url('HD-wallpaper-how-does-data-science-help-an-enterprise.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

.home-content h1, .home-content h2, .home-content h3 {
    animation: fadeIn 1s ease-in-out;
}

.home-content h1 {
    font-size: 4em;
    margin-bottom: 20px;
}

.home-content h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.home-content h3 {
    font-size: 2em;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.contact-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.contact-info a {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    text-decoration: none;
}

.contact-info a img {
    transition: transform 0.2s ease;
}

.contact-info a:hover img {
    transform: translateY(-3px);
}

@keyframes formFadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

form label {
    display: block;
    margin-bottom: 10px;
    color: #005f99;
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form input:focus,
form textarea:focus {
    border-color: #007acc;
    outline: none;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #1e2429;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, transform 1s ease;
}

form button:hover {
    background: #c0c8cd;
    transform: translateY(-2px);
}

.command-line-box h1, .command-line-box h2, .command-line-box h3 {
    margin: 10px 0;
    font-family: 'Courier New', Courier, monospace;
    color: #00ff00;
}

.command-line-box p {
    margin: 10px 0;
    font-family: 'Courier New', Courier, monospace;
    color: #00ff00;
    font-size: 1.25rem;
}

.text-white {
    color: white; 
}

.rounded-lg {
    border-radius: 8px; 
}

.shadow-lg {
    box-shadow: 0 4px 6px rgba(121, 120, 120, 0.1); 
}

.command-line-box {
    max-width: 80%; 
    margin: 0 auto;
    padding-left: 300px; 
}

.font-mono {
    font-family: 'Courier New', Courier, monospace; 
}

.h-screen {
    height: 100vh; 
}

.items-center {
    align-items: center; 
}

.justify-center {
    justify-content: center; 
}

.text-left {
    text-align: left; 
}

.command-line-box {
    position: relative;
}

.command-line-box .close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

body {
    font-size: 0.75;
}

.video-bg {
    position: relative;
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.command-line-box {
    position: relative;
    z-index: 1; 
}

.video-bg {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}

.command-line-box {
    position: relative;
    z-index: 1; 
    background-color: rgba(45, 45, 45, 0.6); 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    font-family: 'Courier New', Courier, monospace;
    color: #29a429;
}

main.ml-64 {
    background-image: url('../images/hdwallpaper.jpg'); 
    background-size: cover; 
    background-position: center; 
}
